# I lacked the domain knowledge of thermodynamics. So, I tried the possible statistical transformations and feature engineering that I would try when I don't understand features.

1. I have normalised the target column.
2. I have introduced polynomial features with the intention of explaining the target variable better from the features that explained the target variable better. But, I got better performance with polynomial features from all the 4 independent features.
3. I have also tried different transformations of the data. ranging from boxcox transformation to standardising features to the same sclale. but, nothing gave significant performance improvement.
4. I have tried ensemble of multiple algorithms with different hyperparametes, but wierdly the simplest one worked the best. Clearly, presence of a bit of domain knowledge would have hugely helped.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
!pip install ppscore
import ppscore as pps

Collecting ppscore
  Downloading https://files.pythonhosted.org/packages/29/8a/8d6b0307bd5160071c624933c58055086eda8b873144131f39dcb88d7072/ppscore-0.0.4.tar.gz (41kB)
     |████████████████████████████████| 51kB 3.1MB/s
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-0.0.4-py2.py3-none-any.whl size=10575 sha256=fb1e64a09e17d6c8809f6774957503f19dcaaf7adef8fd46234b4f071a87f078
  Stored in directory: /root/.cache/pip/wheels/0c/2f/cc/0df0a0bb6ace01a72ff490179e083aafa4d9f1b5325641df31
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-0.0.4

In [ ]:
train_data = pd.read_csv('/content/drive/My Drive/do not delete/power plant energy output prediction/Train.csv')
test_data = pd.read_csv('/content/drive/My Drive/do not delete/power plant energy output prediction/Test.csv')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [ ]:
full_data = pd.concat([train_data, test_data])
full_data.reset_index(drop=True, inplace=True)
full_data

          AT      V       AP     RH          PE
0      29.07  72.51  1009.24  58.38  449.371855
1      32.38  67.17  1006.97  60.04  450.861043
2      19.29  67.71  1007.94  63.71  460.894029
3      16.45  41.48  1016.64  45.21  467.577314
4      21.43  46.97  1013.94  61.25  469.805723
...      ...    ...      ...    ...         ...
47835  14.60  53.82  1016.28  64.83         NaN
47836  29.67  66.51  1015.60  34.10         NaN
47837  20.13  47.03  1012.59  83.03         NaN
47838  27.14  70.32  1007.08  73.08         NaN
47839  18.82  61.27  1019.50  72.23         NaN

[47840 rows x 5 columns]

In [ ]:
# renaming columns for better understanding.
full_data.rename(mapper={'AT':'temperature', 'V':'exhaust_vacuum',
                         'AP':'ambient_pressure', 'RH':'relative_humidity',
                         'PE':'power_estimated'},
                 axis='columns', inplace=True)

full_data

       temperature  exhaust_vacuum  ...  relative_humidity  power_estimated
0            29.07           72.51  ...              58.38       449.371855
1            32.38           67.17  ...              60.04       450.861043
2            19.29           67.71  ...              63.71       460.894029
3            16.45           41.48  ...              45.21       467.577314
4            21.43           46.97  ...              61.25       469.805723
...            ...             ...  ...                ...              ...
47835        14.60           53.82  ...              64.83              NaN
47836        29.67           66.51  ...              34.10              NaN
47837        20.13           47.03  ...              83.03              NaN
47838        27.14           70.32  ...              73.08              NaN
47839        18.82           61.27  ...              72.23              NaN

[47840 rows x 5 columns]

In [ ]:
full_data.loc[:9567,'power_estimated'] = np.log1p(full_data.loc[:9567,'power_estimated'])

In [ ]:
for col in ['temperature', 'exhaust_vacuum', 'ambient_pressure', 'relative_humidity']:
    full_data.loc[:,col] = np.log(full_data.loc[:,col])

In [ ]:
full_data

       temperature  exhaust_vacuum  ...  relative_humidity  power_estimated
0         3.369707        4.283724  ...           4.066973         6.110074
1         3.477541        4.207227  ...           4.095011         6.113375
2         2.959587        4.215234  ...           4.154342         6.135335
3         2.800325        3.725211  ...           3.811318         6.149701
4         3.064792        3.849509  ...           4.114964         6.154446
...            ...             ...  ...                ...              ...
47835     2.681022        3.985645  ...           4.171768              NaN
47836     3.390136        4.197352  ...           3.529297              NaN
47837     3.002211        3.850786  ...           4.419202              NaN
47838     3.301009        4.253056  ...           4.291555              NaN
47839     2.934920        4.115290  ...           4.279855              NaN

[47840 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree=3, interaction_only=False,  
                        include_bias=False)
pf_one = pf.fit_transform(full_data.loc[:, full_data.columns != 'power_estimated'])
pf_one

array([[  3.36970671,   4.28372448,   6.91695285, ..., 194.58123654,
        114.40828403,  67.26884713],
       [  3.47754095,   4.20722672,   6.9147011 , ..., 195.7951352 ,
        115.95341896,  68.66971109],
       [  2.95958683,   4.21523388,   6.91566392, ..., 198.68723119,
        119.35435649,  71.69792607],
       ...,
       [  3.00221124,   3.8507857 ,   6.92026668, ..., 211.63598526,
        135.14828396,  86.30412561],
       [  3.30100865,   4.25305625,   6.91481033, ..., 205.19898122,
        127.35311835,  79.03946042],
       [  2.93492013,   4.11529033,   6.92706759, ..., 205.36572083,
        126.8842252 ,  78.39480971]])

In [ ]:
pf_one.shape

(47840, 34)

In [ ]:
poly_features = pd.DataFrame(data=pf_one, columns=['pf_col_'+str(i) for i in range(34)])
poly_features

       pf_col_0  pf_col_1  pf_col_2  ...   pf_col_31   pf_col_32  pf_col_33
0      3.369707  4.283724  6.916953  ...  194.581237  114.408284  67.268847
1      3.477541  4.207227  6.914701  ...  195.795135  115.953419  68.669711
2      2.959587  4.215234  6.915664  ...  198.687231  119.354356  71.697926
3      2.800325  3.725211  6.924258  ...  182.735004  100.582796  55.363771
4      3.064792  3.849509  6.921599  ...  197.141881  117.202934  69.678384
...         ...       ...       ...  ...         ...         ...        ...
47835  2.681022  3.985645  6.923904  ...  199.996453  120.501219  72.604007
47836  3.390136  4.197352  6.923235  ...  169.163391   86.235398  43.960717
47837  3.002211  3.850786  6.920267  ...  211.635985  135.148284  86.304126
47838  3.301009  4.253056  6.914810  ...  205.198981  127.353118  79.039460
47839  2.934920  4.115290  6.927068  ...  205.365721  126.884225  78.394810

[47840 rows x 34 columns]

In [ ]:
full_data_new = pd.concat([full_data, poly_features], join='outer', axis=1)
full_data_new.describe()

        temperature  exhaust_vacuum  ...     pf_col_32     pf_col_33
count  47840.000000    47840.000000  ...  47840.000000  47840.000000
mean       2.888112        3.966958  ...    126.660075     78.586678
std        0.454940        0.235935  ...     12.633031     11.457018
min        0.593327        3.233173  ...     72.730122     34.044629
25%        2.603430        3.731460  ...    119.068194     71.386592
50%        3.012835        3.952781  ...    129.016607     80.462374
75%        3.247269        4.197803  ...    136.474899     87.566787
max        3.613886        4.401339  ...    146.978694     97.766323

[8 rows x 39 columns]

# modelling

In [ ]:
train_new = full_data_new.loc[:9_567,:]
test_new = full_data_new.loc[9_568:,full_data_new.columns != 'power_estimated']
train_data.shape, train_new.shape, test_data.shape, test_new.shape

((9568, 5), (9568, 39), (38272, 4), (38272, 38))

In [ ]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(train_new.loc[:, train_new.columns != 'power_estimated'],
                                            train_new.loc[:,'power_estimated'],
                                            test_size=0.05, random_state=100, shuffle=True)

X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((9089, 38), (479, 38), (9089,), (479,))

## XG Boost

In [ ]:
xgb_one = XGBRegressor(max_depth=6, learning_rate=0.01, n_estimators=10_000, colsample_bytree=0.85, seed=100)
xgb_one.fit(X=X_tr, y=y_tr, eval_set=[(X_val, y_val)], eval_metric='rmse', early_stopping_rounds=500, verbose=100)

[08:10:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:5.59048
Will train until validation_0-rmse hasn't improved in 500 rounds.
[100]	validation_0-rmse:2.04684
[200]	validation_0-rmse:0.749456
[300]	validation_0-rmse:0.274682
[400]	validation_0-rmse:0.101013
[500]	validation_0-rmse:0.03795
[600]	validation_0-rmse:0.015817
[700]	validation_0-rmse:0.009084
[800]	validation_0-rmse:0.007517
[900]	validation_0-rmse:0.007086
[1000]	validation_0-rmse:0.006877
[1100]	validation_0-rmse:0.006688
[1200]	validation_0-rmse:0.006544
[1300]	validation_0-rmse:0.006414
[1400]	validation_0-rmse:0.006281
[1500]	validation_0-rmse:0.00619
[1600]	validation_0-rmse:0.006126
[1700]	validation_0-rmse:0.00608
[1800]	validation_0-rmse:0.006025
[1900]	validation_0-rmse:0.005975
[2000]	validation_0-rmse:0.005922
[2100]	validation_0-rmse:0.005868
[2200]	validation_0-rmse:0.005817
[2300]	validation_0-rmse:0.005768
[2400]	validation_0-rmse:0.005717
[2500]	validation_0-rmse:0.005677
[2600]	validation_0-rmse:0.005635
[2700]	validation_0-rmse:0.0056
[2800]	validation_0-rmse:0.005567
[2900]	validation_0-rmse:0.005535
[3000]	validation_0-rmse:0.005498
[3100]	validation_0-rmse:0.005473
[3200]	validation_0-rmse:0.005449
[3300]	validation_0-rmse:0.005424
[3400]	validation_0-rmse:0.005402
[3500]	validation_0-rmse:0.005374
[3600]	validation_0-rmse:0.005343
[3700]	validation_0-rmse:0.005316
[3800]	validation_0-rmse:0.005292
[3900]	validation_0-rmse:0.005268
[4000]	validation_0-rmse:0.00525
[4100]	validation_0-rmse:0.005231
[4200]	validation_0-rmse:0.00521
[4300]	validation_0-rmse:0.005193
[4400]	validation_0-rmse:0.005166
[4500]	validation_0-rmse:0.00514
[4600]	validation_0-rmse:0.005122
[4700]	validation_0-rmse:0.005102
[4800]	validation_0-rmse:0.005091
[4900]	validation_0-rmse:0.005082
[5000]	validation_0-rmse:0.005062
[5100]	validation_0-rmse:0.005043
[5200]	validation_0-rmse:0.00502
[5300]	validation_0-rmse:0.005001
[5400]	validation_0-rmse:0.004988
[5500]	validation_0-rmse:0.004976
[5600]	validation_0-rmse:0.004967
[5700]	validation_0-rmse:0.004958
[5800]	validation_0-rmse:0.004945
[5900]	validation_0-rmse:0.004932
[6000]	validation_0-rmse:0.004926
[6100]	validation_0-rmse:0.004912
[6200]	validation_0-rmse:0.004907
[6300]	validation_0-rmse:0.004892
[6400]	validation_0-rmse:0.004881
[6500]	validation_0-rmse:0.004868
[6600]	validation_0-rmse:0.004854
[6700]	validation_0-rmse:0.004844
[6800]	validation_0-rmse:0.004833
[6900]	validation_0-rmse:0.004822
[7000]	validation_0-rmse:0.004814
[7100]	validation_0-rmse:0.004805
[7200]	validation_0-rmse:0.004795
[7300]	validation_0-rmse:0.004786
[7400]	validation_0-rmse:0.004776
[7500]	validation_0-rmse:0.004767
[7600]	validation_0-rmse:0.004763
[7700]	validation_0-rmse:0.004759
[7800]	validation_0-rmse:0.004758
[7900]	validation_0-rmse:0.004756
[8000]	validation_0-rmse:0.004756
[8100]	validation_0-rmse:0.004755
[8200]	validation_0-rmse:0.004755
[8300]	validation_0-rmse:0.004755
[8400]	validation_0-rmse:0.004755
[8500]	validation_0-rmse:0.004755
Stopping. Best iteration:
[8002]	validation_0-rmse:0.004755

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.85, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=10000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=100,
             silent=None, subsample=1, verbosity=1)

In [ ]:
xgb_predict_one = xgb_one.predict(data=test_new, validate_features=True)
xgb_predict_one = np.expm1(xgb_predict_one)
xgb_predict_one = pd.Series(xgb_predict_one)
xgb_predict_one = xgb_predict_one.rename('PE')
xgb_predict_one

0        472.062653
1        494.926666
2        495.702423
3        480.256409
4        446.141357
            ...
38267    476.026031
38268    446.516968
38269    471.167755
38270    445.263550
38271    466.774323
Name: PE, Length: 38272, dtype: float32

In [ ]:
xgb_predict_one.to_csv(path_or_buf='/content/drive/My Drive/do not delete/power plant energy output prediction/three_xgb_predict_with_pf_unrounded.csv', index=False, float_format='%.7f')